[2022-01-15 15:51] Ryo-N7 opened #9 "review + edits (Ryo)"

[2022-01-16 04:49] Ryo-N7 commented on #9
- Pizza plot vignette: Output of "Custom stats" version, BOTH single player + comparison doesn't look right.

[2022-01-16 04:51] Ryo-N7 commented on #9
- all existing pictures of plots are screenshots of the plots in the plot panel rather than actual PNG outputs. (will fix this myself)

[2022-01-16 05:14] Ryo-N7 commented on #9
main function code:
- function arguments and general code not spaced out
- inconsistencies between using `=` and `<-` operators for assignment (also present in vignettes)

[2022-01-16 08:33] Ryo-N7 commented on #9
- in `plot_pizza()`

converted this:
[code]
to this (using `case_when()` for multiple if-elses):
[code]

[2022-01-16 09:14] Ryo-N7 commented on #9
- there absolutely has to be a way to shorten `plot_shot()` but I think that deserves a completely separate branch/issue/PR itself

[2022-01-16 09:45] Ryo-N7 commented on #9
now making sure tests still succeed...

[2022-01-16 10:05] Ryo-N7 commented on #9
- added lifecycle "experimental" and MIT license badge on README

[2022-01-16 11:20] Ryo-N7 commented on #9
passflow is inverted??

Alba should be making passes from the LW, not the RW?

![plot_passflow](https://user-images.githubusercontent.com/19657164/149657772-75803d0a-7ddf-43f7-88ec-540bc8bb7f22.png)

[2022-01-16 11:45] Ryo-N7 commented on #9
- added `NEWS.md`: basically update this before you merge a new PR and upgrade the package version number with all the updates you made to the main branch

[2022-01-18 06:14] abhiamishra commented on #9
Passflow along with heatmap and pass functions were fixed

[2022-01-18 06:14] #9 closed

[2022-01-18 09:05] Ryo-N7 opened #12 "Package check errors"
ran devtools::check() and found the following problems:
- [x] LICENSE needs to be properly labelled in DESCRIPTION
- [x] some function arguments weren't documented or they weren't updated... or misspelled...
- [x] add global vars: `globals.R`
- [x] edit vignette to `eval=FALSE` the call to understatr
- [x] tests are using worldfootballR to grab data but that takes time and we have to add it into t

[2022-01-18 11:17] Ryo-N7 commented on #12
https://stackoverflow.com/questions/32328802/where-should-i-put-data-for-automated-tests-with-testthat/43081458#43081458

[2022-01-18 11:17] Ryo-N7 commented on #12
got it down to  2 notes, which we can worry about later @abhiamishra @harshkrishna17

![check](https://user-images.githubusercontent.com/19657164/149927577-3cf98bdc-bbba-4d56-9b3d-20128741c86d.PNG)

[2022-01-18 13:11] #12 closed

[2022-01-19 19:20] abhiamishra opened #13 "ggshakeR gallery"
Creating a gallery of code for visualizations either too simple or too complex!

Current functions

- KMC
- GMM
- UMAP
- PCA
- Bumpy Chart
- Comet chart

[2022-01-20 00:50] abhiamishra opened #14 "Create voronoi function"
Create voronoi function that spits out a voronoi diagarm

[2022-01-21 10:19] harshkrishna17 commented on #13
1. Feel like GMM is to be combined with both UMAP and Comet Chart. So maybe shelf one of those for now? Right away, feel like GMM + Comet chart is the more popular and useful option.
2. I have some code for a Bumpy chart (https://github.com/harshkrishna17/R-Code/blob/main/BumpyChart.R) (to be improved). Would also be nice to kill two birds with one stone and add a tutorial on adding images to a pl

[2022-01-21 10:22] harshkrishna17 commented on #13
Can also work on this design for KMC if you guys think it would be better!

![image](https://user-images.githubusercontent.com/87293901/150510566-113c938d-cb3d-48a0-94c9-ea7d0a579977.png)

[2022-03-08 05:50] Ryo-N7 opened #17 "implementing Github Actions checks & other CI tools into workflow"
- [x] GHA package checks
- [x] lintr/styler + all fixes resulting from output
- [x] codecov (covr)

improve + expand tests based on codecov output... but that can be a separate issue itself

[2022-03-18 13:35] #17 closed

[2022-03-21 04:27] Ryo-N7 opened #20 "remove extraneous dependencies"
- [ ] devtools, roxygen2 do not need to be IMPORTED
- [ ] glue should be replaced easily enough with paste() or sprintf() but will need to check with tests to see if the text formatting still works fine (it should though...)
- [ ] also need to think about stringi + stringr >> if there's some way to just use one or the other... or just replace both with base grep/grepl functions
- [ ] try and check

[2022-03-21 06:17] Ryo-N7 commented on #20
viridis? Couldn't we just use the basic colors and then have the user be able to set the fill scale themselves?

[2022-03-21 06:19] Ryo-N7 commented on #20
plot_pizza: `data$Player <- stri_trans_general(str = data$Player, id = "Latin-ASCII")`

is there some equivalent in base -- could we use `iconv()` instead? as far as i see this is the only place we're calling {stringi} soo

[2022-03-21 16:15] Ryo-N7 opened #21 "remove color palette dependencies & allow for more color customization by the user"
continuing on from issue #20 ...

- extract zissou1 palette: `pal <- wes_palette("Zissou1", 10, type = "continuous")` and set that as the default, then allow user to input their own color palette list object to use in `plot_sonar()`
- plot_passflow: viridis has own copy function in ggplot2 so no need for the {viridis} package... can set version `_d` as default by extracting color hex codes? also a

[2022-03-21 16:18] Ryo-N7 commented on #20
color pkgs: i've discussed with harsh & abhishek >>> continued in issue #21

[2022-03-21 18:09] abhiamishra commented on #20
That will allow them more freedom in their coloring choices so let's go with that

[2022-03-21 18:23] abhiamishra opened #22 "Release 0.2.0 checklist"
New update that we want to push through.

Key guidelines for the new updates:

- [x] make package more simplified, reduce clutter and make functions more streamlined:
- #26
- #27
- #21
- [x ] ~~add R Graph Gallery with charts that do not need a function but would be nice to have~~: (gallery stuff is separate from pkg dev - Ryo)
- [x] EPV (Laurie Shaw's method): #25
- [x] Harsh's passnet: issue
- [

[2022-03-21 18:24] abhiamishra commented on #22
https://github.com/abhiamishra/ggshakeR/issues/14#issue-1108708748

[2022-03-21 18:24] abhiamishra commented on #22
https://github.com/abhiamishra/ggshakeR/issues/13#issue-1108469474

[2022-03-23 16:45] harshkrishna17 opened #24 "ggshakeR Gallery New Issue"
This is the new issue for the ggshakeR gallery. I'm creating a checklist for all the stuff I think would be nice to have + things to be added.

- [x] Create website
- [x] Solve issue with the colour of code blocks in markdown files (used for articles)

Article ideas :-

- [ ] k-means for clustering passes
- [ ] Comet charts + GMM clustering
- [x] Bumpy chart

Let me know what other articles you'd

[2022-03-23 16:52] harshkrishna17 commented on #24
![image](https://user-images.githubusercontent.com/87293901/159752834-73352322-e42e-42ca-b2c8-e7257fdac552.png)
Let me know which design looks better + is more practical and can be used in the tutorial for k-means clustering.

Shake already has code for the plot_comet() function which can just be changed up a bit to make it a for for an article.
For a bumpy chart, have to explore {ggbump}

[2022-04-09 17:44] harshkrishna17 opened #25 "EPV function"
Create a function that assigns values to event data using Laurie Shaw's EPV grid. Expected to be very similar to xT function.

[2022-04-16 01:55] harshkrishna17 opened #26 "possible new dependencies for version 0.2.0"
There are a few packages that are required for the new functions in version 0.2.0 to be added to the dependencies list. They are :-

1. purrr {plot_convexhull}. Mapping a function to a list. Functions required are map() and reduce().
2. useful {plot_passnet}. Function required is shift.column().
3. gridExtra {plot_passnet}. Function required is tableGrob().

There are a few more packages that can

[2022-04-16 16:40] Ryo-N7 opened #27 "decide on function argument naming convention: snake_case OR camelCase (not both!)"
(...)

[2022-04-16 16:42] Ryo-N7 commented on #26
- {wesanderson}: see #21
- I'll check out those other ones but I don't see a branch for your pass-net stuff

[2022-04-17 04:41] harshkrishna17 opened #28 "Convex Hull + Voronoi Function"
Convex hull function is done bar ironing out some function argument naming stuff (snake_case or camelCase). One new dependency for plot_convexhull is {purrr}.

Voronoi function not yet started. Maybe @abhiamishra would like to do that one?

[2022-04-17 10:40] Ryo-N7 opened #29 "fix transition to stringi from stringr text wrapping"
for some reason when i swapped the `stringr::str_wrap()` function with `stringi::stri_wrap()`, i get different results in the pizza plot axis text, even though `stringr::str_wrap()` is supposed to be just a wrapper for the {stringi} version...

[2022-04-17 10:40] Ryo-N7 commented on #29
this is what the difference looks like:
![diff-stri-str-wrap](https://user-images.githubusercontent.com/19657164/163710975-fbdd3a49-8028-4fc3-a5e6-5def110e820b.PNG)

[2022-04-17 10:42] Ryo-N7 commented on #29
a few default options in stringr::str_wrap aren't declared the defaults in stringi::stri_wrap and that's why there's a difference along with the fact that in str_wrap the output is concatenated at the very end

so once i apply the same arguments + the vapply concatenate at the end, i get the same result using {stringi} functions which is what we want

![fix](https://user-images.githubusercontent.c

[2022-04-17 10:43] Ryo-N7 commented on #29
since pizza plot function has like 23852845 permutations, replacing the above snippet for each is silly

sooo i'm going to create a wrapper function then ctrl+F & replace that into each

[2022-04-17 10:44] Ryo-N7 commented on #29
[code]

[2022-04-17 11:01] Ryo-N7 commented on #29
yep looks good:
![yesgood](https://user-images.githubusercontent.com/19657164/163711608-412e4309-cd95-4d44-8d13-8e0cdbe0dd45.PNG)

[2022-04-17 16:20] abhiamishra commented on #28
I'll get on it but it'll be after my semester ends

[2022-04-17 16:20] #14 closed

[2022-04-17 16:20] abhiamishra commented on #13
Initial gallery created

[2022-04-17 16:20] #13 closed

[2022-04-18 01:50] #24 closed

[2022-04-18 05:15] harshkrishna17 opened #31 "Pass Network Function"
New function {plot_passnet} to plot pass networks using Opta and StatsBomb data. Function is done (function argument naming snake_case or camelCase yet to be figured out).

Currently the numbers for the passnet viz are random (numbered 1-11 on the basis of number of passes played). If the function to convert JSON to CSV is completed and the data contains shirt numbers, then the function can be fur

[2022-04-18 05:30] harshkrishna17 commented on #31
Code for the function is here.

https://github.com/harshkrishna17/ggshakeR-0.2.0/blob/main/plot_passnet.R

[2022-05-01 16:05] abhiamishra commented on #29
Ryo - is this issue closed? Looks like we need some more work on this

[2022-05-01 16:07] abhiamishra commented on #27
I think camelCase is the way to go here

[2022-05-01 16:53] Ryo-N7 commented on #29
what makes you say that? did we get a bug issue from somebody?

as the above commits, it's all done. I just forgot to close this issue haha

[2022-05-01 16:53] #29 closed

[2022-05-01 17:02] abhiamishra commented on #31
How is this going? I remember that we needed additional functions for this correct?

[2022-05-01 17:10] Ryo-N7 commented on #27
i'm thinking of going snake_case:

`plot_passflow(pass_data, bin_size = 0, data_type = "statsbomb")`

looks much more consistent and memorable than

`plot_passflow(passData, binSize = 0, dataType = "statsbomb")`

[2022-05-01 17:19] harshkrishna17 commented on #31
I haven't worked on the new functions. But the main function is basically good to go.

[2022-05-02 04:48] Ryo-N7 commented on #27
ALSO:
- `pass_data`, `event_data`, `shotdata`, `sonarData`, AND `data`

are used as the first 'data' arguments across functions. Most of the time people would just throw their df into the function without specifying the data argument name so it might not matter in most cases but this wild inconsistency can be annoying to deal with for users.

i recommend simplifying everything to `data`. If a func

[2022-05-02 04:52] Ryo-N7 commented on #27
`subt_size` should be changed to `subtitle_size` in `plot_scatter()`

[2022-05-02 04:58] Ryo-N7 commented on #27
- US vs. UK spelling of 'color/colour' in arguments...

[2022-05-02 05:11] Ryo-N7 commented on #27
`sc_label` change to `scatter_label` in `plot_scatter()`

[2022-05-02 15:37] Ryo-N7 commented on #27
`scatter_cap` to `scatter_caption` in `plot_scatter()`

[2022-05-02 16:23] Ryo-N7 commented on #27
`scatter_*` for title, subtitle, etc.

... might make sense to just remove the `scatter_` prefix and just go with `title`, `subtitle`, etc. it's just more effort to type out the scatter prefix for simple arguments

[2022-05-03 16:45] abhiamishra commented on #28
![image](https://user-images.githubusercontent.com/52009380/166500508-97722772-dc06-4891-b5ad-116145f3feea.png)

WIP

[2022-05-03 16:46] abhiamishra commented on #27
can we this close this or is this still a WIP @Ryo-N7 ?

[2022-05-04 04:34] Ryo-N7 commented on #27
`prog` in `plot_pass()` >>> change to `progressive_pass`? length of argument names don't really matter as most IDEs will allow you to simply auto-complete them

[2022-05-04 15:50] Ryo-N7 commented on #21
i suppose for `0.2.0` we can hold off on the color customization option arguments and just remove the deps and hard-code the color hex codes of the palettes we're using

we can figure out the customization later (probably for the CRAN version maybe)

[2022-05-05 05:35] Ryo-N7 commented on #27
`color_xG` or `xG_color` ??

[2022-05-05 05:41] Ryo-N7 commented on #27
`home_color` vs. `color_home` ?

[2022-05-05 05:44] Ryo-N7 commented on #27
`roll_avg` >>> to `rolling_average`

[2022-05-05 06:01] Ryo-N7 opened #32 "xG timeline label should have `xG value` rather than `minute of shot`"
in `plot_timeline()` the label we have for shots/goals is the minute of that... which isn't really necessary due to the x-axis. The focus of this plot is on the xG so we should be labeling the xG value instead

[2022-05-05 06:02] Ryo-N7 opened #33 "Vectorized input to `element_text()` is not officially supported."
shows up as a `Warning` in tests

worth checking out but not urgent

[2022-05-06 05:47] harshkrishna17 commented on #33
In which function does this show up? plot_pizza?

[2022-05-07 04:58] Ryo-N7 commented on #33
@harshkrishna17  yep `plot_pizza()`

you'll see the warnings if you run the tests. see Lines 253, 262, 270 in the test file for examples

[2022-05-07 09:40] harshkrishna17 commented on #33
Yep. I'm pretty sure this is because of the calculations run to fit the text around the circular plot at the right angles. Its not an error per se but maybe we can suppress the warnings?

[2022-05-08 03:24] Ryo-N7 commented on #27
`bin` or `bin_size` ?

[2022-05-08 04:24] Ryo-N7 commented on #27
well, `plot_shot()` uses `geom_hex()` 'bin' argument...

maybe just change all 'bin' arguments to just `bin`?

[2022-05-08 04:54] Ryo-N7 commented on #27
yeah change all to `bin`, then in the documentation state what argument it's actually modifying inside `geom_hex()` or `geom_bin2d()`, etc...

[2022-05-09 06:12] Ryo-N7 commented on #27
`set_size_num`, `set_color_num` rather unclear. It's supposed to be changing the scatter points so maybe should start with `point_*_*()` ?

[2022-05-10 20:12] abhiamishra commented on #28
![image](https://user-images.githubusercontent.com/52009380/167713789-2eceeb9a-7c27-4cac-91c7-9ae0dd7680c1.png)
almost done!

simple parameters and functionality needs to be built

[2022-05-10 21:28] abhiamishra commented on #25
EPV csv added to the function

Only need to make the function to calculate EPV

[2022-05-11 12:12] harshkrishna17 opened #37 "Efficient plot_pizza & plot_heatmap jdp binning type plot"
Making plot_pizza more efficient/less clunky by creating a common case_when for assiging stat position groups rather than individual ones for each position.

New "jdp" type in plot_heatmap. Bins the pitch wrt jdp pitch markings

[2022-05-13 13:03] X4ZY opened #40 "Error when plotting, with white plot."
Using the code in the tutorial in the final step i cannot get the final result because of this error:
Error in if (0 <= angle & angle < 90) { : the condition has length > 1

I have little to none knowledge in R, I'm trying to learn it, could you help me?
![image](https://user-images.githubusercontent.com/105498744/168289093-02767a4f-5b83-40b6-9601-17ad56294818.png)

[2022-05-13 15:45] X4ZY commented on #40
Same error happens if I try to run the

![image](https://user-images.githubusercontent.com/105498744/168319532-ecaed1c7-1d3e-42a3-b621-604bfad6659c.png)

[2022-05-13 18:08] abhiamishra commented on #40
Can you copy and paste your code directly - will help us solve your issue faster

[2022-05-13 18:09] abhiamishra commented on #31
for right now, for the release let's release the number of passes in the node.

[2022-05-13 18:28] X4ZY commented on #40
The code is the tutorial one, i tried it on my Windows pc and it works, but on my Mac doesn't work. The plot stays in a white box, eve in i try to export it.

library(ggshakeR)

 library(worldfootballR)

 single_player <- fb_player_scouting_report("https://fbref.com/en/players/f586779e/Tammy-Abraham", pos_versus = "primary")

 pizza <- plot_pizza(data = single_player, type = "single", template = "

[2022-05-13 18:35] abhiamishra commented on #40
@Ryo-N7 + @harshkrishna17 ^

[2022-05-14 04:48] harshkrishna17 commented on #40
Will work on this over the weekend. There has to be a common thread between plot_pizza and plot_sonar as they both use coord_polar()

[2022-05-14 05:36] harshkrishna17 commented on #40
@X4ZY could you please send an image of how the plot looks on your Mac?

[2022-05-14 07:07] X4ZY commented on #40
This is the result of the plot in the preview

![image](https://user-images.githubusercontent.com/105498744/168414923-a7f7ae83-92bd-4552-b9b8-eb450b600abc.png)

And this is how it looks if i try to export it:

![Rplot](https://user-images.githubusercontent.com/105498744/168414973-1e72fd17-1177-4fcc-87c4-ea9c528be130.png)

Just a white box

[2022-05-14 08:16] harshkrishna17 commented on #31
Could you elaborate a bit please @abhiamishra

[2022-05-15 06:16] #37 closed

[2022-05-15 06:16] #28 closed

[2022-05-15 06:18] #31 closed

[2022-05-16 04:35] Ryo-N7 commented on #27
started some tests but will hold off as that should be its own separate issue thing

[2022-05-16 04:48] Ryo-N7 opened #44 "Improve tests"
Lots of them right now are very barebones `is this a ggplot2 object` type tests...

Look at codecov: https://codecov.io/gh/abhiamishra/ggshakeR/tree/767fd3a877154aab030afa0c49be599596d42ce0/R

and start doing more to fill out tests for ALL configurations of arguments

as well as doing more tests to check for the error messages that we've started adding into the function for 'clear and obvious' err

[2022-05-16 05:11] Ryo-N7 commented on #27
- [ ] calculate_threat
- [ ] plot_heatmap
- [ ] plot_pass
- [ ] plot_passflow
- [ ] plot_pizza
- [ ] plot_scatter
- [ ] plot_shot
- [ ] plot_sonar
- [ ] plot_trendline
- [ ] plot_timeline

[2022-05-16 05:16] Ryo-N7 commented on #27
since `calculate_threat()` is a data-related function, the 'type' argument doesn't need to be `data_type` , it should just be `type`

[2022-05-16 05:50] Ryo-N7 commented on #27
`plot_timeline()` ...

[2022-05-16 06:14] harshkrishna17 opened #45 "Rewrite guides to accommodate new functions"
Guides housed in the pkgdown website need to be rewritten to house the new functions added in version 0.2.0.

[2022-05-17 05:08] Ryo-N7 commented on #21
equivalent of `viridis::scale_fill_viridis()` is `ggplot2::scale_fill_gradientn(colours = viridis(256, option = "D"))`

[2022-05-17 08:01] #21 closed

[2022-05-18 03:29] Ryo-N7 commented on #32
hmm no, have to re-write a considerable amount of the code to restructure it to get it to generalize for any number of goals for either team

bit more work but it's got to be done...

[2022-05-18 03:31] Ryo-N7 commented on #32
also handle 'own goal' cases

[2022-05-18 05:14] Ryo-N7 commented on #32
i'm also moving around the code so that the 'plot' element code like the title and themes stuff is all closer together and also happens right before the actual plot is made.

for some reason it was stuck at the top?

I've also consolidated a lot of the data pre-processing into one pipe instead of jumping around a myriad of steps and re-assigning it to the 'data' variable. much cleaner this way.

[2022-05-18 05:31] Ryo-N7 opened #47 "fix globals and other NAMESPACE issues"
na.omit is from {stats} and not base... used in `plot_passnet()`... tbh could just filter NAs in a different way using the imports we already have

otherwise the usual global vars shenanigans that i'll need to add into `globals.R`

[2022-05-18 05:33] Ryo-N7 commented on #47
but more importantly need to change all the `@import` to be more specific via `importFrom` but that might be its own issue to tackle separately

[2022-05-18 05:36] Ryo-N7 commented on #32
there's no need to split the `geom_*()` into separate data frames as you can just use `group` argument but i'll work on that in a separate issue?

[2022-05-18 05:49] harshkrishna17 commented on #47
`@import useful` can be changed to `@importFrom useful shift.column`

[2022-05-18 05:52] harshkrishna17 commented on #47
The above change is in plot_passnet()

[2022-05-18 05:59] #32 closed

[2022-05-18 15:45] abhiamishra commented on #25
calculate_epv function needs to be uploaded. this will be done in this issue

[2022-05-18 16:27] abhiamishra commented on #45
- plot_voronoi
- epv function

[2022-05-19 04:08] Ryo-N7 commented on #45
(re-opening since Abhishek still has his to write)

[2022-05-19 04:25] Ryo-N7 commented on #47
after discussion with Harsh, we can just throw the `shift.column()` function over into `utils.R` and modify it a bit better for our own use instead of importing the package just for that single function (which is written all in base anyways)

[2022-05-19 05:57] harshkrishna17 commented on #26
Since the removal of Rcpp and RcppRoll from imports has been shifted to issue #47 (fix globals and other NAMESPACE issues), should this issue be closed?

[2022-05-19 06:05] Ryo-N7 commented on #26
yeah i mean this should've just been a note or something in the chat rather than an issue by itself since all of the changes were going to be handled in other issues from the start anyway

[2022-05-19 06:05] #26 closed

[2022-05-19 13:45] abhiamishra commented on #25
PR done

[2022-05-19 13:45] #25 closed

[2022-05-20 07:39] harshkrishna17 opened #52 "New design for plot_passnet()"
Redesigning the plot rendered by plot_passnet() to improve readability. Also adding a couple new features

[2022-05-20 16:12] abhiamishra commented on #40
Can you show us what happens if you click "Zoom"

I ran the code - there is no problem with the code and it should work on Mac. Maybe try to remove the package and reinstall it again

[2022-05-20 16:26] X4ZY commented on #40
Maybe the problem is in my Mac, like some packages missing or something else. I tried to uninstall and reinstall both ggshake and worldfootbalR, but the result is the same one. With the zoom option the plot is always a white box, unfortunately. I think it's my problem, definitely not a code error.

![SCR-20220520-pj0](https://user-images.githubusercontent.com/105498744/169571123-750ce0ce-3e1f-47ec

[2022-05-20 16:33] Ryo-N7 commented on #52
closed in #53

[2022-05-20 16:33] #52 closed

[2022-05-25 17:30] abhiamishra commented on #33
I've narrowed down the problem to this piece of code:

            #axis.text.x = element_text(size = 12, colour = colorText, angle = ang),

@harshkrishna17 what are the inputs going into this one?

[2022-05-25 17:31] abhiamishra commented on #33
more specifically => `, angle = ang`

[2022-05-25 18:07] abhiamishra opened #56 "Credit Maram with package name"
Do as said

[2022-05-26 07:24] harshkrishna17 commented on #56
Could I close this issue and include it within the guides issue (#45). Was planning to make a pr anyway as I had forgotten to include contributor names when I had rewritten the pitch plot guides.

[2022-05-26 07:25] harshkrishna17 commented on #45
Including "Crediting Maram with package name #56" within this issue for a commit.

[2022-05-26 15:05] #33 closed

[2022-05-26 15:17] #56 closed

[2022-05-26 21:51] abhiamishra commented on #45
@harshkrishna17 for the dummy data set for passnet, see if you can include it in the package instead of it being on the Spreadsheet.

If you want, I can take care of that for you!

[2022-05-26 23:01] abhiamishra opened #58 "Recheck xT and EPV calculations"
Calculations for these are sensitive so before new release, check that the numbers calculated are correct

[2022-05-27 05:03] harshkrishna17 commented on #45
@abhiamishra I'll handle it over the weekend!

[2022-05-27 11:00] harshkrishna17 opened #59 "Add test event dataset to the package"

[2022-05-29 16:44] harshkrishna17 opened #62 "Add link to the ggshakeR library in main package website"
Basic addition to the pkgdown website navbar

[2022-05-30 15:26] #62 closed

[2022-06-01 12:12] harshkrishna17 opened #64 "Simplify plot_pass()"
plot_pass(), unlike all the other event data functions has too many parameters and only accepts the "statsbomb" data_type. We should simplify the function to make it more in line with the other functions and thus more intuitive for the users

[2022-06-06 20:35] sjkrrrch opened #66 "Pizza plot won't plot"
Doing a comparison pizza plot and I keep getting an error returned:

Error in if (0 <= angle & angle < 90) { : the condition has length > 1

I think this has to do with how the function is handling vectorized objects

[2022-06-07 10:23] harshkrishna17 commented on #66
Could you also please send a screenshot of the code you are using

[2022-06-13 07:03] szfh commented on #66
Hi @harshkrishna17 I am also getting this error by running the example code.

[code]
[code]
![image](https://user-images.githubusercontent.com/52595717/173295836-86466016-ce92-4ead-87c1-55144a062d52.png)

It's caused by the `angle` argument to `axis.text.x = element_text(size = 12, colour = colorText, angle = ang)`, I tried to see what was wrong but the `ang` vector seems to be right and it should

[2022-06-13 10:51] harshkrishna17 commented on #66
Could you try to reinstall the package and run the code again? I'll also try to figure out what's wrong/

[2022-06-13 14:52] szfh commented on #66
Done a hard reinstall and still the same
[code]
[code]

[2022-06-15 09:56] harshkrishna17 commented on #66
Thanks! I'll get back to you

[2022-06-18 06:44] harshkrishna17 commented on #66
Hey @sjkrrrch @szfh we've pushed a commit that fixes this issue with the `pizza_plot` function. It was due to a change in the way ggplot2 accepts an angle vector in R version 4.2.0. You can reinstall the ggshakeR package to get the latest version of the function that works.

[2022-06-18 06:56] harshkrishna17 commented on #40
Hey @X4ZY we've pushed a commit referencing this error. Please check issue #66

[2022-06-18 06:56] #40 closed

[2022-06-18 07:08] harshkrishna17 commented on #66
Another small thing to mention is that a few of the parameter names have been changed wrt to our new version release.

[2022-06-18 11:34] szfh commented on #66
Thank you! Thought it might be an R version thing. Works for me now with v4.2.0.

[2022-06-18 15:15] harshkrishna17 commented on #66
@szfh Great to hear!

[2022-06-18 15:30] #64 closed

[2022-06-20 04:57] #47 closed

[2022-06-20 22:21] abhiamishra commented on #66
Issue was completed and fixed by @harshkrishna17.

[2022-06-20 22:21] #66 closed

[2022-06-21 04:15] abhiamishra commented on #45
Finished!

[2022-06-21 04:27] abhiamishra commented on #44
Think the easiest way to go about this is to assign tests for functions we've written.

I'll start with these five:

- calculate_xt
- calculate_threat
- plot_voronoi
- plot_shot
- plot_passflow

[2022-06-21 06:30] harshkrishna17 commented on #44
I'll take

- plot_passnet
- plot_convexhull
- plot_pizza
- plot_trendline
- plot_timeline

[2022-06-21 06:33] harshkrishna17 commented on #45
Keeping this open for a tiny bit longer so that I can add a guide for the new plot_pass to the website

[2022-06-21 08:09] #45 closed

[2022-06-21 11:28] Ryo-N7 opened #74 "edits to Github Actions checks"
- check to see how often codecov runs, have it always run for every push (?)
- update GHA files to CACHE package dependencies (so not waste valuable GHA minutes installing them every single time)
- find someway so that lintr comments are posted explicitly in the PR thread as people keep ignoring them

[2022-06-21 11:49] #27 closed

[2022-06-21 18:42] Zakgas opened #75 "Web scrapping Fbref for Pizza Chart"
When trying to web-scrape player stats from Fbref, I get the following error:

'Error in open.connection(x, "rb") : HTTP error 429'

I have installed the most stable version: v0.1.2: `devtools::install_github("abhiamishra/ggshakeR@0.1.2")

Issue has persisted since last week. Unless Fbref has denied web-scrapping of their website, I’m not sure why this has occurred.

Please re-run the template cod

[2022-06-22 08:53] #75 closed

[2022-06-22 09:49] harshkrishna17 opened #76 "Add StatsBomb dataset to testdata folder for function tests"
Adding basic StatsBomb event dataset to `testdata`

[2022-06-23 13:40] harshkrishna17 opened #78 "Fix `plot_pizza()` plot issue `reorder()` not working like `fct_reorder()`"
Find a replacement function within the available dependencies/base for the `fct_reorder()` function from {forcats}

[2022-06-23 14:46] harshkrishna17 commented on #44
#77 StatsBomb dataset added to testdata folder which can now be used for tests

[2022-06-23 16:02] harshkrishna17 commented on #44
Functions to be tested:

- [ ] plot_convexhull()
- [ ] plot_heatmap()
- [ ] plot_pass()
- [ ] plot_passflow()
- [ ] plot_passnet()
- [ ] plot_shot()
- [ ] plot_sonar()
- [ ] plot_voronoi()
- [ ] plot_pizza()
- [ ] plot_scatter()
- [ ] plot_trendline()
- [ ] plot_timeline()
- [ ] calculate_epv()
- [ ] calculate_threat()

[2022-06-23 16:03] harshkrishna17 opened #79 "Fix images in "Guide to creating pizza plots""
Images in `plot_pizza()` guide are different from the actual output of function. Basic change to pkgdown website to be done at the absolute last before release.

[2022-06-24 17:39] harshkrishna17 opened #82 "Change column names in StatsBomb data_type in plot_pass()"
Every other pitch plot function accepts column names as (x, y, finalX, finalY) for even statsbomb datasets, but plot_pass accepts the standard statsbomb names (location.x, location.y). This might be confusing so should be changed

[2022-06-24 17:42] harshkrishna17 commented on #82
This isnt a change for the purpose of preference, Its an error in the code from the commit that added the new version of the function to the package

[2022-06-24 17:47] harshkrishna17 commented on #82
Had to shift the theme colors to the beginning of the function as they weren't being registered for the Opta plot type

[2022-06-24 19:01] Ryo-N7 commented on #82
ooh that's why it was on top, that's my bad -- i didn't check .

and well, our tests also don't cover appearance, which is something we can do with https://github.com/r-lib/vdiffr but we can talk about that later

[2022-06-25 03:07] harshkrishna17 commented on #82
Its a good thing we're expanding tests. Wouldn't have found an issue if I wasn't trying to include the opta `data_type` within the tests

[2022-06-25 14:53] #82 closed

[2022-06-26 13:49] prowe8 opened #85 "Pitch plots"
Hi guys, wondered if someone could help me with the pitch plots. Followed all the instructions but guessing this 'NULL' message when I run it.

plot <- plot_shot(data, type = "density")

NULL

Think its something to do with the getting the data part (5 step code on the Tableau link) but not sure what to do differently. It said put in your desired export location but wasn't sure what that meant or

[2022-06-26 15:56] harshkrishna17 commented on #85
Hey! So what you can do is use the `understatr` package to scrape the data. For Ozil's shots, you can run the following code:

[code]

There's not much more to it, You dont need to save it as a .csv file or anything, simply scraping the data is enough and you can input the data into the `plot_shot()` function.

[2022-06-26 22:36] Zakgas opened #86 "Plot_trendline error"
Hi,

I was running your code for the Trendline plot, but I got the following error:

Error in plot_trendline(data = df, team = "Manchester United", colour_xg = "#08519c",  :  unused arguments (colour_xg = "#08519c", colour_xga = "#cb181d", roll_avg = 2)

Any help would be much appreciated!

Thanks in advance.

Zakariah

[2022-06-27 02:34] harshkrishna17 commented on #86
This is as we have changed the parameter names in quite of our functions in version 0.2.0. Check out the Guide [here](https://abhiamishra.github.io/ggshakeR/articles/Guide_to_Version_0-2-0.html). The correct usage of the function would be

[code]

[2022-06-27 05:11] #86 closed

[2022-06-27 15:40] harshkrishna17 commented on #78
Fix using `dplyr`

[code]

[2022-06-28 00:56] #85 closed

[2022-06-29 06:46] harshkrishna17 opened #88 "Add a favicon"
Thought it would be nice to add a package favicon (web tab logo) to the website. I've been reading up on the steps to make one and this has been the result.

Couple of things:

<img width="960" alt="image" src="https://user-images.githubusercontent.com/87293901/176369744-30657cee-dc5f-4286-8045-d5597110b3b8.png">

1. Confused as to where the logo should be stored and why the logo appears twice on

[2022-06-29 09:53] harshkrishna17 commented on #88
Also wanted to propose changing the articles section of the website to have a drop down menu. Since there are just links to the articles, think having a drop down would look cleaner than using up an entire page for just the 5 links

[2022-06-29 12:36] Zakgas opened #89 "Issues with Pizza plot"
Hi,

I want to do a pizza plot comparison between two players, but I've got the following error:

Error in strwrap(string) : argument "string" is missing, with no default
In addition: There were 42 warnings (use warnings() to see them)

Any help would be much appreciated.

Zakariah

[2022-06-29 13:44] harshkrishna17 commented on #89
@Zakgas Could you please specify which version of ggshakeR you are using. Also please post the results of running `sessionInfo()` on your system.

[2022-06-29 13:53] harshkrishna17 commented on #89
@Zakgas please tell us if you faced any errors while scraping the data

[2022-06-29 13:55] Zakgas commented on #89
Hi,

No problem with web-scraping since I've included the `time_pause` function

ggshakeR version: `devtools::install_github("abhiamishra/ggshakeR@0.1.2")`

`sessionInfo()` -- see below

`R version 4.1.2 (2021-11-01)
Platform: x86_64-apple-darwin17.0 (64-bit)
Running under: macOS Monterey 12.4

Matrix products: default
LAPACK: /Library/Frameworks/R.framework/Versions/4.1/Resources/lib/libRlapack.d

[2022-06-29 13:56] abhiamishra commented on #88
LGTM

[2022-06-29 15:05] Zakgas commented on #89
Hi,

Which is the latest version?

[2022-06-29 16:20] harshkrishna17 commented on #89
You can simply run

[code]

[2022-06-29 16:21] Zakgas commented on #89
I did that but there's still an error

[2022-06-29 16:36] harshkrishna17 commented on #89
Maybe you could also update your R to version 4.2.0 ?

[2022-06-29 17:35] Zakgas commented on #89
Ok, I will try to update and let you know.

[2022-06-29 22:47] Zakgas commented on #89
I've updated R to the latest version but the issue is still there

[2022-06-30 02:23] harshkrishna17 commented on #89
Could you please share a reproducible example of the error? (The complete code you are using)

[2022-06-30 16:19] Zakgas commented on #89
Hi

See below

There's no need to uninstall and reinstall as I updated R, so I will try it on another device

[code]

[2022-06-30 16:20] harshkrishna17 commented on #89
You probably should. As far as I can tell there is no error within the function. On top of that, the function showing the error (`strwrap`) isn't even used within our package.

[2022-06-30 16:21] Zakgas commented on #89
It's too tedious, I will try on another device

Many thanks for your help

[2022-06-30 16:23] harshkrishna17 commented on #89
Please let us know if it worked on another device! Another suggestion I have is that you have too many packages loaded into your system at one time. It might be interfering with a lot of stuff. Maybe you could try running the function with only the `ggshakeR` and `worldfootballR` packages loaded.

[2022-06-30 17:43] Zakgas commented on #89
Yes, it does work on my laptop. I have no idea why it doesn't work on my desktop. No worries, many thanks for your help

[2022-07-01 06:34] harshkrishna17 commented on #89
Great to hear!

[2022-07-01 06:34] #89 closed

[2022-07-03 10:12] harshkrishna17 commented on #88
I'm yet to be able to figure out how to add this. I have an image of the package logo without the background (just the hexagon), but I'm not able to build the favicon. @Ryo-N7 I've been trying to follow what you did with your {tvthemes} package but confused about the steps and the order to follow. Also checked out [this issue](https://github.com/r-lib/pkgdown/issues/379) but still not able to make

[2022-07-03 10:13] harshkrishna17 commented on #88
This is the image of just the package hexagon logo

![logo](https://user-images.githubusercontent.com/87293901/177035118-9f04174e-d204-4eb9-bae0-b3328fb636c5.png)

[2022-07-10 19:08] abhiamishra commented on #88
I can try to take a look at it today

[2022-07-11 19:26] abhiamishra commented on #58
[x] xT Calculations
[x] EPV Calculations

- Some changes had to be made to EPV calculations -> changes are very minor

[2022-07-11 19:27] abhiamishra commented on #58
Closing it as code fix will be uploaded when tests for scatter plot are fixed as per Issue #44

[2022-07-11 19:27] #58 closed

[2022-07-11 19:27] abhiamishra commented on #79
Status on this?

[2022-07-11 19:28] abhiamishra commented on #88
@Ryo-N7 - you've created a favicon before as per Harsh

[2022-07-12 04:05] Ryo-N7 commented on #88
@harshkrishna17 : did you create a branch that I can jump into to see what you were trying ? I really can't get an idea of what things you were trying just from what you are saying.

I created the {hexSticker} package to create the PNG so I'm not sure how to create a `favicon`.

The link to the image in the README is on `line 17` in README.Rmd: `man/figures/ggshakeRhex-small.png` so you just need

[2022-07-12 05:06] harshkrishna17 commented on #88
I'll try that

[2022-07-12 17:52] abhiamishra commented on #44
All tests are done 👍

[2022-07-12 17:52] #44 closed

[2022-07-14 06:34] harshkrishna17 commented on #79
Gonna piggyback fixing the logo in the README in this issue

[2022-07-14 06:35] harshkrishna17 commented on #79
@abhiamishra I'll do this as the absolute last thing before release to public. Wouldn't want the images to be changed again because of other pr's

[2022-07-14 13:07] #88 closed

[2022-07-14 14:36] harshkrishna17 opened #98 "Change parameter name in plot_passnet(); `subtitle_plot` to `subtitle`"
This is just for continuity reasons as the parameter in `plot_sonar` is "title" and no longer "title_plot"

[2022-07-16 07:11] harshkrishna17 commented on #79
Reminder: Remove "distance" as a parameter for `plot_pass` in "Guide to Version 0.2.0" as it is no longer a parameter in the function

[2022-07-17 11:12] #98 closed

[2022-07-17 11:14] harshkrishna17 commented on #79
Reminder: Change the guide to pitch plots as the parameter in `plot_passnet` has been changed

[2022-07-17 11:15] harshkrishna17 commented on #79
Reminder: Add in the links to the new articles in the "Guide to version 0.2.0"

[2022-07-17 11:50] harshkrishna17 commented on #79
Changed the parameter names in `plot_convexhull` and `plot_voronoi` and removed the "_plot" suffix to the title/subtitle param. Also made the necessary changes to the guides. See issue #98 (closed)

[2022-07-17 11:50] harshkrishna17 commented on #79
Changed the parameter names in `plot_convexhull` and `plot_voronoi` and removed the "_plot" suffix to the title/subtitle param. Also made the necessary changes to the guides. See issue #98 (closed)

[2022-07-17 11:51] harshkrishna17 commented on #79
Changed the parameter names in `plot_convexhull` and `plot_voronoi` and removed the "_plot" suffix to the title/subtitle param. Also made the necessary changes to the guides. See issue #98 (closed)

[2022-07-17 12:15] #79 closed

[2022-07-22 04:20] abhiamishra commented on #22
We're done - great job team!!!!

[2022-07-22 04:20] #22 closed

[2022-07-27 16:46] abhiamishra opened #101 "[Bug]: Fixing verification assessment in plot_heatmap"
### What happened?

---
ggshakeR version: 0.2.0
R version: 4.0
---
Brief description of the problem

plot_heatmap requires x, y, finalX, finalY but only uses x, y

[2022-08-01 11:35] #101 closed

[2022-08-01 13:59] #74 closed

[2022-08-01 16:20] abhiamishra opened #104 "[Bug]: Pkgdown Website Dependencies Failing"
### What happened?

---
ggshakeR version: 0.2.0.99990
R version: 4.0
---
Brief description of the problem

"  * pkgdown: dependencies must be TRUE, FALSE, NA or a list of dependency types "

[2022-08-01 17:06] rithwikrajendran commented on #104
Is this due to the update of `setup-r-dependencies@v1` to `setup-r-dependencies@v2` in the pkgdown.yaml in workflows? If yes, updating line `extra-packages: pkgdown` to `extra-packages: any::pkgdown` in the same file for pkgdown should do the trick.

References:
1. [Issue 1](https://github.com/r-lib/pak/issues/346)
2. [Issue 2](https://github.com/r-lib/actions/issues/470)

[2022-08-01 17:36] abhiamishra commented on #104
Yeah this is the same solution Harsh showed me so its probably just this

[2022-08-02 05:12] harshkrishna17 commented on #104
Committed #105 but build still failing

[2022-08-02 05:42] Ryo-N7 commented on #104
did you try building the website locally with `pkgdown::build_site()` first?

below is the error from the latest:
[code]

[2022-08-02 07:41] harshkrishna17 commented on #104
I did run `pkgdown::build_site()` @Ryo-N7

[2022-08-02 08:15] Ryo-N7 commented on #104
... OK so? what did you get? Since that ran fine, you pushed, and then the error above happened? or...?

[2022-08-02 09:11] harshkrishna17 commented on #104
Yea, I pushed the commit and the pkgdown push failed. The error message now is different from before though

[2022-08-04 21:40] abhiamishra opened #107 "[Feature Request]: UEFA-compliance / autotype compliance"
### Suggest an idea or something that can be improved.

Currently, our functions are compliant to StatsBomb and Opta. UEFA-styled coordinates do exist today, new news for me, and it would be a nice thing to have that implemented.

A nicer thing would if we were able to understand the type of the dataframe **automatically**,,,,, food for thought!

[2022-08-05 12:19] harshkrishna17 commented on #107
auto-identify dataset type is an interesting idea, but we should probably fix the bugs for the current version and do a CRAN release so that we're free to experiment with the idea on dev

[2022-08-05 12:20] harshkrishna17 commented on #107
For now, we could just add a way to transform UEFA data to opta within the guide itself?

[2022-08-05 13:59] abhiamishra commented on #107
Either that or we add UEFA as a data type to all functions

[2022-08-05 13:59] abhiamishra commented on #107
Or we create a helper function that transforms datasets from UEFA to one of Opta/StatsBomb

[2022-08-06 05:08] harshkrishna17 commented on #104
Close as fixed. Check #106

[2022-08-06 05:08] #104 closed

[2022-08-06 08:52] harshkrishna17 commented on #107
Here's a simple internal function we could create to auto identify the dataset type

[code]

[2022-08-08 04:47] harshkrishna17 commented on #107
Updated function

[code]

[2022-08-09 09:59] rithwikrajendran commented on #107
Can't we use the uniqueness in the column names of each data frame type to find out the type of data (UEFA, Opta, SB etc) and then return the pitch accordingly?

[2022-08-09 10:53] harshkrishna17 commented on #107
That cant work unfortunately as we already require the dataset to be inputted into the functions with specific column names

[2022-08-10 00:44] zpy86 opened #108 "[Bug]: Possible error in plot_passnet flip logic?"
### What happened?

Hi,
I tried to create some Germany passmaps from this summer's EURO using the free StatBomb data and noticed oddities. Players seemed to display on the wrong sides of the field. I tried toggling the `flip` parameter to `plot_passnet`, and it produces different results -- see: https://imgur.com/a/2TXHL7x -- but neither looks 'correct'. Including one image for example:

![example

[2022-08-10 02:03] harshkrishna17 commented on #108
Does this look correct? @zpy86

![plot](https://user-images.githubusercontent.com/87293901/183794186-c63e1fbe-e50d-40d5-bbf8-f21b8f26f5b1.png)

[2022-08-10 02:11] zpy86 commented on #108
Thanks!! Yes, that looks good! Also, my bad -- I switched the CBs myself, but upon checking the highlights for that game it does indeed look like Hegering was the LCB and Hendrich on the right.

[2022-08-11 06:02] harshkrishna17 commented on #108
@zpy86 issue closed as completed. You can install the latest version for the fix

[2022-08-11 06:02] #108 closed

[2022-08-13 06:03] robbiejdunne commented on #107
![0734bf5c-94b6-4c81-bd18-2e9424120c94](https://user-images.githubusercontent.com/34661676/184471010-cdb4e1cc-d4c1-4201-807d-3edcee9b1a75.png)

I don't fully understand why the passplot functions scales them fine but the pass networks don't scale properly.

[2022-08-13 09:07] harshkrishna17 commented on #107
Hey @robbiejdunne could you please be a little more specific? As in what is the problem with scaling. I would also recommend you to create a new issue for this problem, and continue the conversation there

[2022-08-13 09:34] robbiejdunne commented on #107
This is part of the original issue with international/opta/statsbomb data. The pass network's dimensions only go as high as 68 in this dataset. But they seem to be just fine for the progressive passes. Does that make sense?

[2022-08-13 09:39] harshkrishna17 commented on #107
I dont think they're fine for the progressive passes, rather the size of the pitch in `plot_pass` is making it appear right when it might not be.

Try running this on your dataset before running the passnet function.

[code]

This should make it work

[2022-08-13 09:40] harshkrishna17 commented on #107
Please make sure to document stuff like this in a separate, fresh issue from next time as it becomes really difficult to track problems if not done @robbiejdunne

[2022-08-15 18:23] abhiamishra opened #110 "[Feature Request]: Add a "made using ggshakeR" to all plots"
### Suggest an idea or something that can be improved.

As the title says

[2022-08-15 18:25] abhiamishra commented on #107
I'm going to play around with the function Harsh made

[2022-08-16 17:02] abhiamishra commented on #107
function seems to be working well.

im going to add a sample UEFA dataset and push the auto-type compliance. Will take some time because I have to change tests as well,,,

[2022-08-16 17:18] abhiamishra commented on #107
quick fixes that need to be implemented: for some functions, they only look at x,y and we have, in our guides, the user selecting only x and y. As such, the function needs to be updated to be able to find the type based on just the (x,y).

[2022-08-16 17:20] abhiamishra commented on #110
@rithwikrajendran can you pick up some of these plots?

Look at @harshkrishna17's plot_pizza to find that we only need to add caption ggplot element to our plots.

[2022-08-16 17:34] rithwikrajendran commented on #110
Yes, I would be fine picking up some of the plots. But I haven't understood the issue/requirement yet. Can you explain it a bit?

[2022-08-16 20:20] rithwikrajendran commented on #110
Got it. I'll work on it soon.

[2022-08-19 12:38] MaundoJako opened #111 "[Bug]: Pass plots not working with non statsbomb/opta data"
### What happened?

I am using code scraped from WhoScored. I have the necessary data, however, the plots return false results. This is the case for all the plot functions with ggshakeR.

Data: [stoke vs boro.xlsx](https://github.com/abhiamishra/ggshakeR/files/9382169/stoke.vs.boro.xlsx)

Screenshot examples:

<img width="1028" alt="Screenshot 2022-08-19 at 13 31 05" src="https://user-images.githu

[2022-08-19 12:47] harshkrishna17 commented on #111
Hey! So the main thing is that the default `data_type` in all our event data functions is set to statsbomb. Since your data is from opta, you would need to set it as such. Adding in a `data_type = "opta"` within the function should do the trick.

[2022-08-19 12:52] MaundoJako commented on #111
Hey, I thought this originally. Though, still doesn't work i'm afraid.
This is the outcome:
![image](https://user-images.githubusercontent.com/91381193/185622151-0aaca1b6-fdce-43c0-b8ac-da912b407d45.png)

CODE:
plotting_data_gayle <- plotting_data %>%
  filter(type.name == "Pass" & team.name == "Stoke City" & player.name == "Dwight Gayle")
passPlot <- plot_pass(data_type = "opta", data = plotting_

[2022-08-19 13:21] harshkrishna17 commented on #111
The `plot_passnet` error can be resolved by running the following code.

[code]

![image](https://user-images.githubusercontent.com/87293901/185627754-48e65e5f-d9e5-43d4-8b21-5f5cffd14cbc.png)

[2022-08-19 13:22] harshkrishna17 commented on #111
Will get back to you shortly for the `plot_pass` error

[2022-08-19 13:23] harshkrishna17 commented on #111
Found the error in the `plot_pass` source code. A fix will be pushed shortly

[2022-08-19 15:06] abhiamishra commented on #111
What was the issue in the plot_pass code @harshkrishna17

[2022-08-19 15:07] abhiamishra commented on #111
Is it flipped / reversed?

[2022-08-19 15:18] abhiamishra commented on #111
@MaundoJako I am working on the fix for plot_pass(). Can you confirm for us that the others, passflow, convex, and voronoi, are working correctly when you set it to Opta?

[2022-08-19 15:48] abhiamishra commented on #111
Seem to have found the error - so in our pitch plots, we convert all data types to one final data type when showing the plot - that type is StatsBomb.

Looks like there is an error w converting Opta to Statsbomb

[2022-08-19 15:54] MaundoJako commented on #111
Hey, Convex works fine. plot_passflow() doesnt work, and I dont think pass_sonar() is working either. Have not tried voronoi yet.

[2022-08-19 16:05] abhiamishra commented on #111
Can you show us the results for passflow and pass_sonar? They should work as they pretty straightword functions

[2022-08-19 16:17] abhiamishra commented on #111
![Opta dataset with plot_pass function](https://user-images.githubusercontent.com/52009380/185662413-66d15711-5e46-4e76-94a9-67b66ba9de7d.png)

![OP's code](https://user-images.githubusercontent.com/52009380/185662493-61e1a54c-fb02-47fd-a79e-039386c9f1a1.png)

Seems like the issue is fixed - if I can get what's wrong with the others, the fix should be similar but I want to double check

[2022-08-19 16:17] MaundoJako commented on #111
Im not sure if the pass_sonar is incorrect, just my eye test thinks it might be. Looking at the picture below, I feel like should be more forward passes shown in the sonar.

![Picture 1](https://user-images.githubusercontent.com/91381193/185662422-28054fa5-7b97-4f6a-b41b-ab0e99c8da1a.png)

[2022-08-19 16:21] abhiamishra commented on #111
Hmm, I actually think it summarize it well. It's not directly forward well but if you look, there is an arrow that is very long that is slightly angled to the left and forward - I feel like the congestion of the passes doesn't allow us to see the direction of the pass therefore why it seem off?

Try it on several players - that's how I tested plot_sonar

[2022-08-19 16:28] MaundoJako commented on #111
For pass_flow, similar explanation as before. I think it might just be flipped? I can solve this issue by scale_y_reverse, look below.

<img width="960" alt="image" src="https://user-images.githubusercontent.com/91381193/185663652-499f6f03-4fbf-4f64-af55-fa06287f19e8.png">

<img width="856" alt="image" src="https://user-images.githubusercontent.com/91381193/185664655-94386e5b-6453-4a21-a9ac-3fbe4d

[2022-08-19 16:33] abhiamishra commented on #111
yeah ill double check this but that seems to be it too

you said you had problems with voronoi as well - is it the same issue? flipped

[2022-08-19 16:36] MaundoJako commented on #111
Havent tried voronoi yet. Ill let you know if I have any problems.

For the heatmap(), I dont get any result, just a blank football pitch. Im not sure if this is because Im only plotting from 1 game. In your tutorial you use a season's worth.

[2022-08-19 16:38] harshkrishna17 commented on #111
what is the code you use for plot_heatmap() ?

[2022-08-19 16:39] abhiamishra commented on #111
I am able to get heatmap all fine
![image](https://user-images.githubusercontent.com/52009380/185666570-ddf66e57-19f1-4847-9071-15999fa440fa.png)

[2022-08-19 16:40] abhiamishra commented on #111
that too with jdp, density, hex, etc:
![image](https://user-images.githubusercontent.com/52009380/185666669-de88b000-7cd2-4f23-b957-ebee28614ef0.png)

[2022-08-19 16:59] abhiamishra opened #112 "[Feature Request]: Refresh and Review Old Functions"
### Suggest an idea or something that can be improved.

In essence, the original functions

- plot_pass
- plot_scatter
- plot_shot
- plot_passflow

were all created when the current style and quality guidelines were absent. As such, the usage of these plots seems out-of-touch with the new streamlined functionalities.

The job is to review and process these functions and update their aesthetics and

[2022-08-19 17:12] abhiamishra commented on #111
Plot_sonar seems to be working well 👍

![image](https://user-images.githubusercontent.com/52009380/185671952-700d24dc-d909-4d48-82f5-ae7354a6b10f.png)

[2022-08-19 17:19] abhiamishra commented on #111
Plot_passmap definitely needed the scale_y_reverse:
![image](https://user-images.githubusercontent.com/52009380/185673433-5226d24f-3d3f-462d-85a4-d2da19fbfb32.png)

![image](https://user-images.githubusercontent.com/52009380/185673457-531f5879-3ccc-4fc0-b640-01347cd6c92d.png)

[2022-08-19 17:34] abhiamishra commented on #111
Functions fixed:

- plot_pass
- plot_heatmap
- plot_passflow

Functions in progress of being fixed:

- plot_sonar

[2022-08-19 17:42] abhiamishra commented on #110
@rithwikrajendran I'm using this as caption:

"Created using ggshakeR"

[2022-08-20 09:47] rithwikrajendran commented on #110
Got it!

[2022-08-20 14:30] MaundoJako commented on #111
Apologies, plot_heatmap() is working fine now. I had type = "bin" from the online tutorial: https://abhiamishra.github.io/ggshakeR/articles/Guide_to_Pitch_Plots.html

Works fine with the correct types.

Cheers for your help lads! :)

[2022-08-20 20:01] MaundoJako commented on #111
FYI, voronoi works fine with me

[2022-08-21 18:55] #111 closed

[2022-08-27 17:59] #110 closed

[2022-08-29 10:33] MaundoJako opened #115 "[Bug]: Timeline flow chart"
### What happened?

ggshakeR version: 0.2.0.9000
R version: RStudio 2022.07.1+554 "Spotted Wakerobin" Release (7872775ebddc40635780ca1ed238934c3345c5de, 2022-07-22) for macOS
Mozilla/5.0 (Macintosh; Intel Mac OS X 12_0_1) AppleWebKit/537.36 (KHTML, like Gecko) QtWebEngine/5.12.10 Chrome/69.0.3497.128 Safari/537.36
---

Code matches the example here: https://github.com/ggshakeR/ggshakeR.github.io/b

[2022-08-29 11:46] harshkrishna17 commented on #115
closed as done

[2022-08-29 11:46] #115 closed

[2022-09-05 19:36] abhiamishra commented on #107
I am going to start working on this week, test out a much more improved functionality so it can account for the case I referenced above ^

[2022-09-27 11:43] harshkrishna17 opened #116 "Update guides due to error with StatsBombR function"
### What happened?

StatsBombR function `StatsBombFreeEvents()` no longer working so replace with `free_allevents()` in guides.

[2022-09-27 12:17] #116 closed

[2022-10-11 08:58] prowe8 commented on #85
Thank you!

On Sun, 26 Jun 2022 at 16:56, Harsh Krishna ***@***.***>
wrote:

[2022-10-26 16:10] harshkrishna17 opened #118 "[Feature Request]: Refresh functions using FBref data due to change in data provider"
### Suggest an idea or something that can be improved.

Change `plot_pizza` and `plot_trendline` as required due to change in FBref data provider from StatsBomb to StatsPerform

[2022-10-28 10:21] harshkrishna17 commented on #118
pull request #119

[2022-10-28 10:21] harshkrishna17 commented on #118
will be updating the tests later with the new datasets

[2022-10-30 09:52] #118 closed